.Details {
  border-radius: 1rem;
  background-color: var(--co-color-9);
  color: var(--co-color-2);
  &[open] {
    background-color: var(--co-color-9);
    & > summary::after {
      content: url("https://api.iconify.design/fa6-solid/chevron-up.svg");
    }
  }
  & > summary {
    position: relative;
    display: flex;
    color: var(--co-color-0);
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 0.6rem;
    & > svg {
      font-size: 1rem;
    }
    &::-webkit-details-marker {
      display: none;
    }
    &::after {
      content: url("https://api.iconify.design/fa6-solid/chevron-down.svg");
      filter: var(--co-filter-0);
      position: absolute;
      right: 1rem;
      float: left;
    }
  }
  & > div {
    margin: 0.2rem 0.5rem 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--co-color-D);
  }
}

@media screen and (width <= 600px) {
}
