.Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.6rem 0;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &_image {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    filter: var(--fi-cold-morning);
  }
  &_title {
    color: var(--co-cold-morning);
    font-size: 1.7rem;
    font-weight: var(--fo-bold);
  }
}

@media screen and (max-width: 959px) {
  .Logo {
    &_image {
      --size: 1.8rem;
    }
    &_title {
      font-size: 1.5rem;
    }
  }
}

.Navbar {
  display: flex;
  gap: 1rem;
  &_box {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}
