.Container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  padding: 0.6rem 0;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & > iconify-icon {
    font-size: 2.2rem;
    color: var(--co-color-03);
  }
  &_title {
    color: var(--co-color-03);
    font-family: var(--fo-primary);
    font-size: 1.7rem;
    font-weight: var(--fo-bold);
  }
}

.Navbar {
  display: flex;
  gap: 1rem;
  &_box {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}

.Search {
  display: flex;
  align-items: center;
  &_input {
    width: 25rem;
    padding: 0 1rem 0.6rem;
    background: transparent;
    border: 1px solid var(--co-color-06);
    border-radius: 0.5rem;
    font-size: 1.1rem;
    &:focus {
      border-color: var(--co-color-05);
      color: var(--co-color-05);
      outline: none;
    }
  }
}

@media screen and (width <= 600px) {
  .Logo {
    &_title {
      font-size: 1.5rem;
      display: none;
    }
  }
}
