.Header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
  border-bottom: 0.0625rem solid #2f3847; /* FIX: */
  color: var(--co-cold-morning);
  &_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    width: 100%;
  }
  &_title {
    font-weight: var(--fo-bold);
  }
}

@media screen and (width <= 600px) {
  .Header {
    flex-direction: column;
    &_box {
      text-align: center;
    }
  }
}
