.HeaderSection {
  display: flex;
  align-items: center;
  height: 8rem;
  border-bottom: 0.0625rem solid #2f3847;
  color: var(--co-cold-morning);
  &_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  &_title {
    font-weight: var(--fo-bold);
    margin-bottom: 0.25rem;
  }
}
