.Card {
  position: relative;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  background-color: var(--co-mountain-fig);
  &:hover,
  &:active {
    border-color: var(--co-greenish);
    background-color: var(--co-zucchini);
    .Card_box {
      color: var(--co-greenish);
    }
  }
  &:global(.--active) &_box {
    color: var(--co-greenish);
  }
  &_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    height: 6.5rem;
    padding: 1rem;
    border: none;
    background-color: transparent;
    color: var(--co-carbon-footprint);
    & > svg {
      font-size: 1.5rem;
    }
  }
  &_text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
