.Container {
  &_header {
    display: flex;
    align-items: center;
    & > div {
      width: 100%;
    }
  }
  &_title {
    margin-bottom: 0.25rem;
    color: var(--co-cold-morning);
    font-weight: var(--fo-bold);
    font-size: 1.4rem;
  }
  &_text {
    color: var(--co-cold-morning);
  }
  &_list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
    list-style: none;
  }
  &_footer {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 0;
  }
}
