.HomePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 2rem;
  border-radius: 0.8rem;
  background-color: #232a36;
  &_header {
    display: flex;
    align-items: center;
    height: 8rem;
    border-bottom: 1px solid #2f3847;
    color: var(--co-cold-morning);
  }
  &_frame {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    animation-name: fade_CcYFdd7Pp36XTihAOg-xm;
    animation-duration: 0.5s;
  }
}

@keyframes fade_CcYFdd7Pp36XTihAOg-xm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 2rem;
  overflow-x: auto;
  &_frame {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &_text {
    width: 9rem;
    padding: 0 1rem;
  }
}
