.Container {
  display: flex;
  align-items: center;
  margin: 0 0 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #2f3847;
  color: var(--co-cold-morning);
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 2rem;
  overflow-x: auto;
  &_frame {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &_text {
    padding: 0 1rem;
    width: 9rem;
  }
}
