.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.63rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.5rem;
  background-color: var(--co-mountain-fig);
  color: var(--co-carbon-footprint);
  &_text {
    font-size: 1rem;
    font-weight: var(--fo-bold);
    user-select: none;
  }
  & > svg {
    font-size: 1rem;
  }
  &:hover {
    border-color: var(--co-greenish);
    background-color: var(--co-zucchini);
    color: var(--co-greenish);
  }
}

/* State ------------------------------------------------------------------- */

.Button:global(.--active) {
  background-color: var(--co-zucchini);
  color: var(--co-greenish);
  & > svg {
    color: var(--fi-greenish);
  }
}

.Button:global(.--outline) {
  border: 0.0625rem solid var(--c2);
  background-color: var(--c1);
  color: var(--co-carbon-footprint);
  &:hover {
    border-color: var(--co-greenish);
    background-color: var(--co-zucchini);
    color: var(--co-greenish);
  }
}

.Button:global(.--ghost) {
  border-color: transparent;
  background-color: transparent;
  color: var(--co-carbon-footprint);
  &:hover {
    border-color: var(--co-greenish);
    background-color: var(--co-zucchini);
    color: var(--co-greenish);
  }
}

/* Compose ----------------------------------------------------------------- */

.Button {
  &:global(.HeaderMain_UlICn) {
    width: 8rem;
    &_text {
      font-weight: var(--fo-bold);
    }
  }
  &:global(.ModalAddBookmarks_JqagP) {
    width: 9rem;
  }
  &:global(.CollectionsModal_WQkiS) {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    padding: 0 0.25rem;
  }
  &:global(.TopicsPane_WQkiS) {
    padding: 0 0.25rem;
  }
}

@media screen and (width <= 600px) {
  .Button {
    flex-wrap: wrap;
  &_text {
    font-size: 1rem;
  }
  }
  .Button:global(.HeaderMain_UlICn) {
    width: auto;
  }
}
