.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0.6rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: var(--co-color-04);
  color: var(--co-color-02);
  &_text {
    font-weight: var(--fo-bold);
    user-select: none;
    line-height: 1;
  }
  & > svg {
    font-size: 1.2rem;
  }
  &:hover {
    border-color: transparent;
    background-color: var(--co-color-07);
    color: var(--co-color-05);
  }
}

/* State ------------------------------------------------------------------- */

.Button:global(.is-active) {
  background-color: var(--co-color-07);
  color: var(--co-color-05);
  & > svg {
    color: var(--co-color-05);
  }
}

.Button:global(.is-outline) {
  border: 1px solid var(--co-color-06);
  background-color: transparent;
  color: var(--co-color-02);
  &:hover {
    border-color: transparent;
    background-color: var(--co-color-07);
    color: var(--co-color-05);
  }
}

.Button:global(.is-ghost) {
  border-color: transparent;
  background-color: transparent;
  color: var(--co-color-02);
  &:hover {
    border-color: transparent;
    background-color: var(--co-color-07);
    color: var(--co-color-05);
  }
}

/* Compose ----------------------------------------------------------------- */

.Button:global(.HeaderMain_UlICn) {
  min-width: 8rem;
  &_text {
    font-weight: var(--fo-bold);
  }
}

.Button:global(.ModalAddBookmarks_JqagP) {
  width: 9rem;
}

.Button:global(.CardElements_WQkiS) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  z-index: 1;
  padding: 0 0.25rem;
}

.Button:global(.TopicsPane_WQkiS) {
  padding: 0 0.25rem;
}

@media screen and (width <= 600px) {
  .Button {
    & > svg {
      display: none;
    }
  }
  .Button:global(.HeaderMain_UlICn) {
    width: auto;
  }
}
