.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 2.1rem;
  padding: 0 0.63rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.5rem;
  background-color: var(--co-mountain-fig);
  color: var(--co-carbon-footprint);
  &_text {
    font-weight: var(--fo-bold);
    font-size: 1rem;
    user-select: none;
  }
  & > svg {
    font-size: 1rem;
  }
  &:hover {
    border-color: var(--co-greenish);
    background-color: var(--co-zucchini);
    color: var(--co-greenish);
  }
}

/* State ------------------------------------------------------------------- */

.Button:global(.--active) {
  background-color: var(--co-zucchini);
  color: var(--co-greenish);
  & > svg {
    color: var(--fi-greenish);
  }
}

.Button:global(.--outline) {
  border: 0.0625rem solid oklch(38% 0.029 285.14);
  background-color: oklch(30% 0.029 285.14);
  color: var(--co-carbon-footprint);
  &:hover {
    border-color: var(--co-greenish);
    background-color: var(--co-zucchini);
    color: var(--co-greenish);
  }
}

.Button:global(.--ghost) {
  border-color: transparent;
  background-color: transparent;
  color: var(--co-carbon-footprint);
  &:hover {
    border-color: var(--co-greenish);
    background-color: var(--co-zucchini);
    color: var(--co-greenish);
  }
}

/* Compose ----------------------------------------------------------------- */

.Button:global(.HeaderMain_UlICn) {
  width: 8rem;
  &_text {
    font-weight: var(--fo-bold);
  }
}

.Button:global(.ModalAddBookmarks_JqagP) {
  width: 9rem;
}

.Button:global(.CollectionsModal_WQkiS) {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  padding: 0 0.25rem;
}

.Button:global(.TopicsPane_WQkiS) {
  padding: 0 0.25rem;
}

/* Media query ============================================================= */

@media screen and (max-width: 401px) {
  .Button {
    &_text {
      display: none;
    }
    &:global(.HeaderMain_UlICn) {
      width: auto;
    }
  }
}
