.SavePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 3rem;
  border-radius: 0.8rem;
  background-color: #232a36;
  &_frame {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    margin-top: 2rem;
  }
}

.Textarea {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0 0;
  &_toolbar {
    display: flex;
    gap: 1rem;
  }
  &_input {
    width: 100%;
    min-height: 20rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 0.125rem solid var(--co-mountain-fig);
    border-radius: 0.4rem;
    background-color: var(--co-black-pearl);
    color: var(--co-carbon-footprint);
    resize: vertical;
    &:focus {
      border-color: var(--co-carbon-footprint);
      outline: none;
    }
  }
}
