.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 0;
  color: var(--co-carbon-footprint);
  &_icon > iconify-icon {
    font-size: 9rem;
  }
  &_title {
    margin-bottom: 0.8rem;
    font-weight: var(--fo-bold);
    font-size: 2rem;
  }
}
