.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: var(--co-color-2);
  text-align: center;
  &_icon > svg {
    font-size: 8rem;
  }
  &_title {
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: var(--fo-bold);
  }
}
