.Container {
  height: 90vh;
  background-color: var(--background);
  color: var(--co-cold-morning);
}

.Header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  & > div {
    width: 100%;
  }
  &_title {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: var(--fo-medium);
  }
  &_text {
    color: var(--co-carbon-footprint);
    font-size: 0.9rem;
  }
}

.List {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin: 2rem 0 0;
  overflow-y: auto;
  &_item {
    list-style: none;
  }
}

