.Header {
  display: flex;
  flex-direction: column;
  &_title {
    margin-bottom: 0.25rem;
    color: var(--co-cold-morning);
    font-size: 1.4rem;
    font-weight: var(--fo-bold);
  }
  &_text {
    color: var(--co-cold-morning);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &_subtext {
    margin-left: 0.5rem;
    font-weight: var(--fo-bold);
  }
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0;
  &_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    & > form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;
      min-width: 18rem;
    }
    & input {
      width: 100%;
      padding: 0.5rem 0.8rem;
      border: 2px solid var(--co-mountain-fig);
      border-radius: 0.5rem;
      outline: none;
      background-color: var(--co-black-pearl);
      color: var(--co-carbon-footprint);
      &:focus {
        border-color: var(--co-greenish);
        color: var(--co-greenish);
      }
    }
  }
}

@media screen and (width <= 600px) {

}
