.Container {
  &_title {
    margin-bottom: 0.25rem;
    color: var(--co-cold-morning);
    font-weight: var(--fo-bold);
    font-size: 1.4rem;
  }
  &_text {
    color: var(--co-cold-morning);
  }
  &_box {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 0.5rem;
  }
  &_subtext {
    margin-left: 0.5rem;
    font-weight: var(--fo-bold);
  }
  &_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    gap: 1rem;
    & > input {
      width: 25rem;
      padding: 0.5rem 0.8rem;
      border: 2px solid var(--co-mountain-fig);
      border-radius: 0.5rem;
      outline: none;
      background-color: var(--co-black-pearl);
      color: var(--co-carbon-footprint);
      &:focus {
        border-color: var(--co-greenish);
        color: var(--co-greenish);
      }
    }
  }
}
