.Container {
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
  border: 2px solid var(--co-mountain-fig);
  border-radius: calc(0.3rem + 0.5rem);
  background-color: var(--co-black-pearl);
}

/* States ------------------------------------------------------------------ */

.Container:global(.--full) {
  width: 100%;
}

/* Compose ----------------------------------------------------------------- */

.Container:global(.HomePage_JhI8l) {
  align-items: center;
}

.Container:global(.HomePageModalAddBookmarks_AW5eY) {
  align-items: center;
  gap: 1rem;
  width: 25rem;
  color: var(--co-cold-morning);
}
