.Container {
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
  border: 2px solid var(--co-mountain-fig);
  border-radius: 0.8rem;
  background-color: var(--co-black-pearl);
}

.Container:global(.--full) {
  width: 100%;
}

/* Compose ----------------------------------------------------------------- */

.Container:global(.HomePage_JhI8l) {
  align-items: center;
}
