.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.4rem;
  background-color: var(--co-color-04);
  color: var(--co-color-03);
  &_box {
    display: grid;
    align-items: center;
    grid-template-columns: 2.8rem auto;
    gap: 1rem;
  }
  &_thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    font-size: 1.2rem;
  }
  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
  }
  &_title {
    color: var(--co-color-03);
    font-size: 1.2rem;
    font-weight: var(--fo-medium);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    &:hover {
      text-decoration: underline;
    }
  }
  &_url {
    color: var(--co-color-02);
    font-size: 0.9rem;
    overflow: hidden;
    width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (width <= 600px) {
  .Card {
    &_url {
      width: 25vw;
    }
  }
}
