.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 3rem;
  border-radius: 0.8rem;
  background-color: #232a36; /* FIX: */
  &_box {
    height: 71vh;
    margin: 2rem 0;
  }
  &_boxInner {
    display: grid;
    gap: 2rem;
    grid-template-columns: 25rem 1fr;
  }
}

.Navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-left: 2rem;
  &_box {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &_text {
    width: 9rem;
    overflow: hidden;
    padding: 0 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
