.Logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & > iconify-icon {
    color: var(--co-color-0);
    font-size: 2.2rem;
  }
  &_title {
    color: var(--co-color-0);
    font-family: var(--fo-primary);
    font-size: 1.7rem;
    font-weight: var(--fo-bold);
  }
}
