.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100dvh;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.Container {
  min-width: 20vw;
  min-height: 20dvh;
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: #232a36;
  &_text {
    font-size: 1.2rem;
    font-weight: var(--fo-bold);
    margin-bottom: 1rem;
    color: var(--co-cold-morning);
  }
  &_list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
    list-style: none;
  }
  &_footer {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 0;
  }
}

.Card {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  width: 13rem;
  border-radius: 0.4rem;
  background-color: var(--co-mountain-fig);
  color: var(--co-carbon-footprint);
  overflow: hidden;
  &:hover,
  &:global(.--active) {
    background-color: var(--co-zucchini);
    color: var(--co-greenish);
  }
}
