.Card {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--co-diamond-black);
  &_header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &_title {
    width: 100%;
  }
  &_num {
    width: 3rem;
    padding: 0.25rem 0;
    border: 1px solid var(--co-carbon-footprint);
    border-radius: 0.3rem;
    color: var(--co-carbon-footprint);
    text-align: center;
  }
  &:hover &_list {
    display: flex;
  }
  &_list {
    display: none;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius: 0.8rem;
    background-color: var(--co-black-pearl);
  }
}

.CardItem {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 0.5rem 1rem;
  &:hover {
    width: 100%;
    border-radius: 0.4rem;
    transition: 0.2s;
  }
  &:hover &_icon {
    opacity: 1;
  }
  &_title {
    width: 100%;
  }
  &_icon {
    margin: 0;
    opacity: 0;
    line-height: 0;
  }
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100dvh;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  &_box {
    min-width: 20vw;
    min-height: 20dvh;
    padding: 2rem;
    border-radius: 0.4rem;
    background-color: #232a36;
  }
  &_text {
    margin-bottom: 1rem;
    color: var(--co-cold-morning);
  }
  &_footer {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 0;
  }
}
