.Container {
  width: 40rem;
  padding-right: 2rem;
  border-right: 1px solid #2f3847;
  color: #e5e5e5;
}

.Header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  & > div {
    width: 100%;
  }
  &_title {
    margin-bottom: 0.25rem;
    font-weight: var(--fo-medium);
    font-size: 1.5rem;
  }
  &_text {
    color: var(--co-carbon-footprint);
    font-size: 0.9rem;
  }
}

.List {
  margin-top: 2rem;
  &_items {
    gap: 0.5rem;
    list-style: none;
  }
}

.Tree {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--co-diamond-black);
  &_header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &_header:global(.--expand) + &_list {
    display: none;
  }
  &_title {
    width: 100%;
    font-size: 1.1rem;
  }
  &_number {
    width: 3rem;
    padding: 0.25rem 0;
    border-radius: 0.4rem;
    background: var(--co-mountain-fig);
    color: var(--co-carbon-footprint);
    text-align: center;
  }
  &_list {
    display: block;
    margin: 0.8rem 0 0.4rem;
    list-style: none;
  }
  &_item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    &_text {
      width: 100%;
    }
    &_icon {
      line-height: 0;
    }
    &:hover {
      background: var(--co-mountain-fig);
    }
  }
}
