.Container {
  width: 40rem;
  padding-right: 2rem;
  border-right: 1px solid #2f3847;
  color: #e5e5e5;
}

.Header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  & > div {
    width: 100%;
  }
  &_title {
    margin-bottom: 0.25rem;
    font-weight: var(--fo-medium);
    font-size: 1.5rem;
  }
  &_text {
    color: var(--co-carbon-footprint);
    font-size: 0.9rem;
  }
}

.List {
  margin-top: 2rem;
  &_header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &_items,
  &_subItems {
    gap: 0.5rem;
    list-style: none;
  }
  &_subItems > li:not(:last-child) {
    border-bottom: 1px solid var(--co-mountain-fig);
  }
}

.Tree {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--co-diamond-black);
  &_header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &_title {
    width: 100%;
    font-size: 1.1rem;
  }
  &_number {
    width: 3rem;
    padding: 0.25rem 0;
    border-radius: 0.3rem;
    background: var(--co-mountain-fig);
    color: var(--co-carbon-footprint);
    text-align: center;
  }
  &_list {
    /* display: none; */
    list-style: none;
    margin: 0.5rem 0 0;
  }
  &:hover &_list {
    display: block;
  }
  &_item {
    display: flex;
    align-items: center;
    margin-left: .6rem;
    padding: 0.3rem 0 .3rem .5rem;
    border-radius: 0.4rem;
    &_text {
      width: 100%;
    }
    &_icon {
      opacity: 0;
      line-height: 0;
    }
    &:hover &_icon {
      opacity: 1;
    }
    &:hover {
      background: var(--co-mountain-fig);
    }
  }
}
