.Tile {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  width: 13rem;
  border-radius: 0.4rem;
  background-color: var(--co-mountain-fig);
  color: var(--co-carbon-footprint);
  overflow: hidden;
  &:hover,
  &:global(.--active) {
    background-color: var(--co-zucchini);
    color: var(--co-greenish);
  }
}

