.Container {
  display: flex;
  flex-direction: column;
  background-color: var(--co-diamond-black);
  &_box {
    display: flex;
    min-height: 100vh;
    margin: 0 2rem 1rem;
    padding: 2rem;
    border: 0.125rem solid var(--co-mountain-fig);
    border-radius: 0.8rem;
    background-color: var(--co-neverything);
  }
}
