.Container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1.5rem;
  &_box {
    display: flex;
    height: 99dvh;
    padding: 1.5rem;
    border: 0.0625rem solid var(--co-color-9);
    border-radius: 0.8rem;
    background-color: var(--co-color-A);
  }
}
