.Container {
  display: flex;
  flex-direction: column;
  background-color: var(--co-diamond-black);
  &_box {
    display: flex;
    min-height: 100vh;
    margin: 0 2rem 1rem;
    padding: 2rem;
    border: 0.125rem solid var(--co-mountain-fig);
    border-radius: 0.8rem;
    background-color: var(--co-neverything);
  }
}

.Footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem 0.8rem;
  &_author {
    display: flex;
    gap: 0.3rem;
    color: var(--co-carbon-footprint);
    font-size: 1rem;
    & > a {
      color: inherit;
      text-decoration: underline;
    }
  }
  &_github {
    order: -1;
    & > iconify-icon {
      color: var(--co-carbon-footprint);
      font-size: 2rem;
    }
  }
}
