.Container {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  &_box {
    display: flex;
    min-height: 100dvh;
    padding: 1.5rem;
    border: 0.125rem solid var(--co-mountain-fig);
    border-radius: 0.8rem;
    background-color: var(--co-neverything);
  }
}

.Footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  &_author {
    display: flex;
    gap: 0.5rem;
    color: var(--co-carbon-footprint);
    font-size: 1rem;
    & > a {
      color: inherit;
      text-decoration: underline;
    }
  }
  &_github {
    order: -1;
    & > * {
      color: var(--co-carbon-footprint);
      font-size: 2rem;
    }
  }
}
