.Container {
  width: 100%;
  background-color: var(--background);
  color: var(--co-cold-morning);
}

.Header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.Header > div {
  width: 100%;
}

.Header_title {
  margin-bottom: 0.25rem;
  font-weight: var(--fo-medium);
  font-size: 1.5rem;
}

.Header_text {
  color: var(--co-carbon-footprint);
  font-size: 0.9rem;
}

.List {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  margin-top: 2rem;
}
