.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100dvh;
  padding: 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  &_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 15rem;
    min-height: 10rem;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    background-color: var(--co-sky-captain);
    &_footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
