.Container {
  color: var(--co-cold-morning);
  &_list {
    height: 75vh;
    margin-top: 2rem;
    list-style: none;
    overflow-y: auto;
  }
}

@media screen and (width <= 600px) {
  .Container {
    color: var(--co-cold-morning);
    &_list {
      height: 13rem;
    }
  }
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  &_box {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  &_title {
    display: -webkit-box;
    font-size: 1.5rem;
    font-weight: var(--fo-medium);
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &_text {
    color: var(--co-carbon-footprint);
    font-size: 0.9rem;
  }
}

.Tree {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--co-diamond-black);
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 1rem;
  }
  &_title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &_list {
    list-style: none;
  }
  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.35rem 1rem;
    border-radius: 0.4rem;
    &:first-child {
      margin-top: 0.1rem;
    }
    &:hover,
    &:active {
      background: var(--co-mountain-fig);
    }
  }
  &_subheader {
    display: flex;
    align-items: center;
    gap: 1rem;
    & svg {
      font-size: 1.2rem;
    }
  }
  &_text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
