.Container {
  color: var(--co-cold-morning);
}

.Header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  &_box {
    display: flex;
    gap: 0.25rem;
  }
  &_title {
    font-weight: var(--fo-medium);
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &_text {
    color: var(--co-carbon-footprint);
    font-size: 0.9rem;
  }
}

.List {
  margin-top: 2rem;
  list-style: none;
  overflow-y: auto;
  height: 75vh;
}

.Tree {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--co-diamond-black);
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.1rem 1rem;
  }
  &_title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &_list {
    display: block;
    list-style: none;
  }
  &_item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.1rem 1rem;
    border-radius: 0.4rem;
    &:first-child {
      margin-top: 0.1rem;
    }
    &:hover,
    &:active {
      background: var(--co-mountain-fig);
    }
  }
  &_text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &_item > svg {
    font-size: 1.2rem;
  }
}
