.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0rem 2rem;
  border-radius: 0.8rem;
  background-color: var(--co-sky-captain);
  &_box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 75vh;
    margin-top: 2rem;
    & > footer {
      padding-bottom: 1.5rem;
    }
  }
  &_textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 0.125rem solid var(--co-mountain-fig);
    border-radius: 0.4rem;
    background-color: var(--co-black-pearl);
    color: var(--co-carbon-footprint);
    resize: vertical;
    &:focus {
      border-color: var(--co-carbon-footprint);
      outline: none;
    }
  }
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0 0;
  &_box {
    display: flex;
    gap: 1rem;
  }
  &_uploadInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.63rem;
    border-radius: 0.5rem;
    color: var(--co-carbon-footprint);
    border: 0.0625rem solid var(--co-mountain-fig);
    background-color: var(--co-freinacht-black);
    color: var(--co-carbon-footprint);
    & > input {
      display: none;
    }
    & > span {
      font-size: 1rem;
      font-weight: var(--fo-bold);
      user-select: none;
    }
    &:hover {
      border-color: var(--co-greenish);
      background-color: var(--co-zucchini);
      color: var(--co-greenish);
    }
  }
}

@media screen and (width <= 600px) {
  .Toolbar {
    justify-content: center;
  }
}
