.Container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
  border-bottom: 0.0625rem solid var(--co-color-9);
  color: var(--co-color-0);
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
  &_title {
    font-weight: var(--fo-bold);
  }
}

@media screen and (width <= 600px) {
  .Container {
    flex-direction: column;
  }

  .Header {
    text-align: center;
  }
}
