/* Typography -------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* Fonts and colors  ------------------------------------------------------- */

:root {
  /* Font-family */

  --fo-base: "Titillium Web", sans-serif;
  --fo-primary: var(--fo-base);
  --fo-mono: "Roboto Mono", monospace;

  /* Weight */

  /* --fo-black: 900; */
  /* --fo-extrabold: 800; */
  --fo-bold: 700;
  /* --fo-semibold: 600; */
  /* --fo-medium: 500; */
  --fo-regular: 400;
  /* --fo-light: 300; */
  /* --fo-extralight: 200; */
  /* --fo-thin: 100; */

  /* Colors */

  --co-black-pearl: #1e242e;
  --co-carbon-footprint: #7d818a;
  --co-cold-morning: #e5e5e5;
  --co-diamond-black: #28303d;
  --co-greenish: #3da95f;
  --co-mountain-fig: #3a3a47;
  --co-neverything: #111a1c;
  --co-zucchini: #154533;

  /* Filter */

  --fi-carbon-footprint: invert(53%) sepia(6%) saturate(489%) hue-rotate(184deg) brightness(95%) contrast(93%);
  --fi-cold-morning: invert(98%) sepia(2%) saturate(486%) hue-rotate(56deg) brightness(117%) contrast(80%);
  --fi-greenish: invert(48%) sepia(99%) saturate(291%) hue-rotate(87deg) brightness(96%) contrast(86%);
}

/* General ----------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fo-base);
}

body {
  min-height: 100dvh;
  background-color: #222222;
  font-size: 16px;
}

ul {
  margin: 0;
  padding-left: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

button,
summary {
  outline: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fo-primary);
}

select {
  z-index: 1;
  width: 100%;
  margin: 0;
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: inherit;
}

select::-ms-expand {
  display: none;
}

select {
  outline: none;
}


/* Special classes --------------------------------------------------------- */

svg,
.no\:Select {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.no\:Nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Utils ------------------------------------------------------------------- */

:root {
  --dim-panel: 40rem;
}
