/* Typography -------------------------------------------------------------- */

@import 'fonts.css';

/* @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Cultive+Mono:ital,wght@0,400&display=swap"); */

/* Fonts and colors  ------------------------------------------------------- */


:root {
  /* Breakpoints */

  /* Smartphone: (360px > x > 600px) */
  /* Tablet and pc: (600px > x > 1920px) */
  /* (https://gs.statcounter.com/screen-resolution-stats) */

  /* Fonts */

  /* Font-family */
  --fo-base: "Titillium Web", sans-serif;
  --fo-primary: var(--fo-base);
  --fo-secondary: "Cultive Mono", monospace;

  /* Weight */
  /* --fo-black: 900; */
  /* --fo-extrabold: 800; */
  --fo-bold: 700;
  /* --fo-semibold: 600; */
  /* --fo-medium: 500; */
  --fo-regular: 400;
  /* --fo-light: 300; */
  --fo-extralight: 200;
  /* --fo-thin: 100; */
}

/* General ----------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fo-base);
  min-width: 0;
}

html {
  font-size: clamp(0.813rem, 0.192vw + 0.769rem, 1rem);
}

div[data-theme] {
  --co-filter-0: invert(100%) sepia(0%) saturate(4577%) hue-rotate(228deg) brightness(107%) contrast(80%);
  --co-color-1: lch(12% 7.6 265.8);
  --co-color-2: #9092A1;
  --co-color-0: #f1f1ef;
  --co-color-3: lch(22% 9.4 265);
  --co-color-4: lch(62% 53 147.3);
  --co-color-5: lch(62% 53 147.3);
  --co-color-6: var(--co-color-4);
  --co-color-9: lch(24% 9 276.38);
  --co-color-8: var(--co-color-9);
  --co-color-A: #1a2530;
  --co-color-7: lch(25.7% 21.6 164);
  --co-color-B: #27313d;
  --co-color-B2: lch(22% 8.9 266);
  --co-color-B1: #1a2530;
  --co-color-C: lch(18% 9.4 265);
  --co-color-D: lch(12% 7.6 265.8);
  background-color: var(--co-color-B);
}

body {
  min-height: 100dvh;
  background-color: lch(16% 8.9 266.6);
}

ul {
  margin: 0;
  padding-left: 0;
  & > li {
    list-style: none;
  }
}

span,
p {
  font-size: 1rem;
}
a:link,
a:visited {
  text-decoration: none;
}

button,
summary {
  outline: none;
  cursor: pointer;
}

input {
  padding-top: 0.6rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fo-primary);
  text-wrap: balance;
}

select {
  z-index: 1;
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: inherit;
}

select::-ms-expand {
  display: none;
}

select {
  outline: none;
}

/* Special classes --------------------------------------------------------- */

svg {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Media queries --------------------------------------------------- */
