/* Typography -------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cultive+Mono:ital,wght@0,400&display=swap");

/* Fonts and colors  ------------------------------------------------------- */

:root {
  /* Breakpoints */
  /* (https://gs.statcounter.com/screen-resolution-stats) */
  /* (360px > x > 600px) (600px > x > 1920px) */

  /* Fonts ----------------------------------------------------------------- */

  /* Font-family */
  --fo-base: "Titillium Web", sans-serif;
  --fo-primary: var(--fo-base);
  --fo-secondary: "Cultive Mono", monospace;

  /* Weight */
  /* --fo-black: 900; */
  /* --fo-extrabold: 800; */
  --fo-bold: 700;
  /* --fo-semibold: 600; */
  /* --fo-medium: 500; */
  --fo-regular: 400;
  /* --fo-light: 300; */
  /* --fo-extralight: 200; */
  /* --fo-thin: 100; */
}

/* General ----------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fo-base);
}

html {
  font-size: clamp(0.813rem, 0.192vw + 0.769rem, 1rem);
}

div[data-theme="1st"] {
  --co-color-01: lch(12% 7.6 265.8);
  --co-color-02: lch(55% 5.4 268.65);
  --co-color-03: lch(91% 0 223.9);
  --co-color-04: lch(21% 9.4 265.5);
  --co-color-05: lch(62% 53 147.3);
  --co-color-A5: lch(62% 53 147.3);
  --co-color-08: var(--co-color-05);
  --co-color-06: lch(25% 8.4 286.7);
  --co-color-A6: var(--co-color-06);
  --co-color-09: lch(8.4% 4.7 216.9);
  --co-color-07: lch(25.7% 21.6 164);
  --co-color-10: lch(16% 8.9 266.6);
  --co-color-11: lch(18% 8.9 266.6);
  --co-color-12: lch(12% 7.6 265.8);
  background-color: var(--co-color-10);
}

div[data-theme="2nd"] {
  --co-color-01: lch(92% 4.69 216.89);
  --co-color-02: lch(30% 5 270.38);
  --co-color-03: lch(19% 4.75 270.38);
  --co-color-04: lch(87.11% 5.87 273.6);
  --co-color-05: #ffffff;
  --co-color-A5: #000000;
  --co-color-06: lch(86.11% 5.87 273.6);
  --co-color-A6: lch(92.11% 5.87 273.6);
  --co-color-07: #005fb9;
  --co-color-08: #005fb9;
  --co-color-09: lch(80.7% 20.08 251.28);
  --co-color-10: #e6eff6;
  --co-color-11: lch(97.11% 5.87 273.6);
  --co-color-12: lch(98.11% 5.87 273.6);
  background-color: var(--co-color-10);
}

body {
  min-height: 100dvh;
  background-color: var(--co-color-10);
}

ul {
  margin: 0;
  padding-left: 0;
  & > li {
    list-style: none;
  }
}

span,
p {
  font-size: 1rem;
}
a:link,
a:visited {
  text-decoration: none;
}

button,
summary {
  outline: none;
  cursor: pointer;
}

input {
  padding-top: 0.6rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fo-primary);
}

select {
  z-index: 1;
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: inherit;
}

select::-ms-expand {
  display: none;
}

select {
  outline: none;
}

/* Special classes --------------------------------------------------------- */

svg {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Media queries --------------------------------------------------- */
